<div class="jumbotron"  style="height:80%">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <label class="btn btn-warning"  type="button" style="cursor:default">Folder</label>
        </span>
        <input type="text" class="form-control" value="uploads" id="folder">
      </div><!-- /input-group -->
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="file" id="FileBox" class="hidden">
        <span class="input-group-btn">
          <label for="FileBox" class="btn btn-danger" type="button">Browse...</label>
        </span>
        <input type="text" class="form-control" placeholder="No file chosen" id="NameBox" disabled>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

  </div><!-- /.row -->
  <br>
  <br>
    <!-- <div class="row">
      <div class="col-lg-6 dropzone" id="dropzone" style="height:200px">
      <p style="padding-top:20px">Drag your files to this area</p><br>
      <i class="fa fa-upload"></i>
      </div>
    </div> -->
    <br><br>
  <div class="row">
    <div class="col-lg-3">
    <span >
      <button class="btn btn-primary" type="button">Upload</button>
    </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div id="UploadArea">

      </div>
    </div>
  </div>
</div>
