        <div class="form">
            <div class="account-wall">
                <i class="profile-img fa fa-user" style="font-size:60px;color:gray"></i>
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Email" required autofocus> <br>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    <span style="color:white">Remember me</span>
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
