<div class="container-fluid">
  <div>
      
  </div>
<div class="row" style="height:40%">
  <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12" style="">
  <carousel-component></carousel-component>
  </div>
</div>
<div class="clearfix"></div>
<div class="row" style="height:30%">
  <div class="col-sm-6 col-lg-6 " style="">
    <agenda-component></agenda-component>
  </div>
  <div class="col-sm-6 col-lg-6" style="">
    <file-upload-component></file-upload-component>
  </div>
</div>
<div class="clearfix"></div>
<div class="row" style="height:30%">
  <div class="col-sm-6 col-lg-6" style="">
  <file-upload-component></file-upload-component>
  </div>
  <div class="col-sm-6 col-lg-6" style="">
  <auth-component></auth-component>
  </div>
</div>
</div>
