<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="height:20rem;overflow-y:scroll">
      <table class="responsive carousel">
        <tr class="alert-info">
          <td>Image</td>
          <td>Caption</td>
          <td>Details</td>
          <td>Remove</td>
        </tr>
        <tr *ngFor="let image of images">
          <td><img src="{{image.path}}" alt="" style="max-height:20px;max-width:20px"></td>
          <td>{{image.caption}}</td>
          <td>{{image.details}}</td>
          <td><i class="fa fa-close" style="color:red"></i></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6" style="height:20rem">
      <file-upload-component></file-upload-component>
    </div>
  </div>

</div>
